.list_box {
    display: block;
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 10rem;
    text-align: left;
    overflow: hidden;
    background: brown;
}
.list_box .id {
    display: none;
}
.list_box .title {
    padding-left: 31%;
    width: 90%;
    background: rgb(42, 130, 165);
}
.list_box .img {
    position: absolute;
    top: 1rem;
    left: 0rem;
    width: 30%;
    height: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.list_box .date {
    padding-left: 31%;
    width: 90%;
    background: rgb(42, 165, 138);
}
.list_box .price {
    padding-left: 31%;
    padding-right: 1rem;
    float: left;
    background: rgb(42, 54, 165);
}
.list_box .currency {
    float: left;
    background: rgb(165, 142, 42);
}
.list_box .country {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: rgb(52, 165, 42);
}
ol, ul {
    padding: 0 3rem;
}