 <!DOCTYPE html>
<html>
<head>
<title>Alzod</title>
<style>
    html, body {margin: 0px; padding: 0px;}
</style>
<link rel="icon" href="/static/demo_icon.gif" type="image/gif">
<link rel="stylesheet" type="text/css" href="/static/main.css">
<script type="text/javascript">

var ErrorDiv = {
    show: function(html) {
        var error_div = document.getElementById('error_div');
        console.error(html);
        error_div.innerHTML = html;
        error_div.setAttribute("class", "error_root");
    },
    hide: function() {
        var error_div = document.getElementById('error_div');
        error_div.innerHTML = "hide";
        error_div.setAttribute("class", "none");
        Controller.running.app_load.hide();
    }
};

var Controller = {
    running: {},
    view: {},
    model: {
        fetch: function(href) {
            var request = new XMLHttpRequest();
            request.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200) {
                    var json_response = JSON.parse(request.responseText);
                    if('type' in json_response) {
                        if('add' in Controller) {
                            Controller.add(json_response);
                        }
                        else { ErrorDiv.show("add not found!"); }
                    }
                    else {
                        ErrorDiv.show('response does not contain type!');
                    }
                }
                else if(this.readyState == 4) {
                    ErrorDiv.show("model.fetch status: " + this.status);
                }
            };
            request.open("GET", href);
            request.send();
        }
    },
    show: function(app) { Controller.running[app].show(); },
    fetch: function(href) { 
        Controller.show('app_load');
        Controller.model.fetch(href);
    },
};


document.addEventListener("click", function(event){
    var target = event.target;
    if('tagName' in target) {
        while (target.tagName && target.tagName.toLowerCase() != 'a') {
            target = target.parentNode; 
            if(!target) { break; }
        };
    }
    var href = null;
    if(target) {
        if('href' in target) { 
            href = target.href; 
        }
    }
    if(typeof href == 'string') {
        event.preventDefault();
        event.stopPropagation();
        Controller.fetch(href);
    }
});
</script>
<script src="/static/main.js"></script>
<script src="/static/head.js"></script>
</head>


<body>
<div id="error_div" class="none" onclick="ErrorDiv.hide();">
    Error
</div>

<div id="app_root">
    <div id="app_load" class="app">loading</div>
    <div id="app_last" class="none">Last</div>
    <div id="app_index" class="none">
        <div class="logo">
            <svg viewBox="0 0 100 100" height="100" width="100">
                <circle cx="50" cy="50" r="40" fill="green" />
            </svg> 
            <span>Alzod</span>
        </div>

        <form class="search_box" action='/' method='get'>
            <input type="textbox" name="s" placeholder="Look for what you want" />
            <input type="submit" value="Search" />
        </form>

        <div class="apps_area">
            <a href="/static/itecm.json" class="icon_larg">
                <svg viewBox="0 0 100 100" height="100" width="100">
                    <circle cx="50" cy="50" r="40" fill="blue" />
                </svg> 
                <span>المفضلة</span>
            </a>

            <a href="/static/item.json" class="icon_larg">
                <svg viewBox="0 0 100 100" height="100" width="100">
                    <circle cx="50" cy="50" r="40" fill="yellow" />
                </svg> 
                <span>السلة</span>
            </a>

            <a href="/static/test.json" class="icon_larg">
                <svg viewBox="0 0 100 100" height="100" width="100">
                    <circle cx="50" cy="50" r="40" fill="red" />
                </svg> 
                <span>تسجيل</span>
            </a>
        </div>
    </div>
</div>
</body>
</html> 